body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #EEE;
}


div.hbar-container {
	width: 100%; 
	height: 100%;
}

div.hbar-chart-container {
	position: relative;
	border-bottom: 1px solid black;
	overflow: hidden;
	width: 100%; 
}

canvas.hbar-chart {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}